<section id="download">
    <h2>TRY PROMPTOY FOR FREE</h2>
    <img src="/promptoy-landing/128x128.png" alt="Promptoy" id="app"/>
    <p>Download Promptoy for Windows and Linux.</p>
    <a href="https://github.com/slydragonn-solutions/promptoy-desktop/releases" target="_blank" rel="noopener noreferrer">Download</a>
</section>

<style>
    #download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }
    #download h2 {
        text-align: center;
    }
    #download p {
        text-align: center;
    }
    #download a {
        background: linear-gradient(to right, #200094, #a561ff);
        color: #fff;
        padding: 10px 50px;
        border-radius: 999px;
        text-decoration: none;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }
</style>